{% extends "layout.html" %}

{% block title %}Signup{% end %}

{% block content %}
	<div class="container">
		<form class="form-horizontal" id="signupform" action="/signup" method="POST">
			<legend>Registration</legend>
			<div class="control-group">
				<label class="control-label" for="username">Username</label>
				<div class="controls">
					<input type="text" id="username" name="username" placeholder="Username">
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="password">Password</label>
				<div class="controls">
					<input type="password" id="password" name="password" placeholder="Password">
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="cpassword">Password Again</label>
				<div class="controls">
					<input type="password" id="cpassword" name="cpassword" placeholder="Repeat the above password">
				</div>
			</div>
			<div class="control-group">
				<div class="controls">
					<button type="submit" class="btn">Create my account</button>
				</div>
			</div>
		</form>
	</div>
{% end %}

{% block myjs %}
	<script src="{{static_url("js/jquery.validate.min.js")}}"></script>
	<script type="text/javascript">
		$(document).ready(function() {
			$("#signupform").validate({
				rules: {
					username: "required",
					password: {required: true, minlength: 6},
					cpassword: {required: true, equalTo: "#password"}
				},
				messages: {
					username: "Enter username",
					password: {
						required: "Enter password",
						minlength: "Password must be minimum 6 characters"
					},
					cpassword: {
						required: "Enter confirm password",
						equalTo: "Password and confirm password must match"
					}
				},
				errorClass: "help-inline",
				errorElement: "span",
				highlight: function(element, errorClass, validClass) {
					$(element).parents('.control-group').addClass('error');
				},
				unhighlight: function(element, errorClass, validClass) {
					$(element).parents('.control-group').removeClass('error');
					$(element).parents('.control-group').addClass('success');
				}
			});
		});
	</script>
{% end %}
